* {
    margin: 0;
    padding: 0;
}

nav.header {
    color:#fff;
    min-height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 15, 20, 0.6), rgba(4, 10, 20, 0.6)), url("../images/hero.gif");
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}


h1 {
    display: inline-flex;
    position: absolute;
    right: 200px;
    top: 100px;
}

.head-logo {
    height: 200px;
    width: auto;
}

.head-text {
    font-size: 60px;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    position: relative;
    top: 65px;
    left: 15px;
    color: #3393FF;
}

.menu {
    position: relative;
    top: 500px;
    font-size: 26px;
    font-weight: 800;
    color: white;
    font-family: 'Julius Sans One', sans-serif;
    width: 400px;
    
}

.easter-egg {
    position: absolute;
    top:5px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 2;
}


.waves-effect {
    width: 100% !important;
    height:100% !important;
}

.grow:hover {
    justify-content: space-evenly;
}

.grid-example {
    margin: 15px 0px;
}

.container {
    background-image: url('/assets/images/halo-ring.jpg');
    background-position: center;
    background-size: cover;
}

a img {
    margin-top: 15px;
}

.grow {
    transition: all 0.2s ease-in-out;
}

.grow:hover {
    transform: scale(1.05);
}